
@{
    ViewBag.Title = "PageNotFound";
}

<h2>404 - Page Not Found</h2>

<p>It seems you've stumbled on a page that does not exist! How did you do that I wonder?</p>

<p>You can stay here if you like, but if you'd like to get out of this little hole, click @Html.ActionLink("here", "Index", "Home")!<p>
