@model TwoFactorAuthentication.Models.RegisterModel

@{
	ViewBag.Title = "Verify Device";
}

<h2>Device Verification</h2>

<p>Success, your device has been verified! Click here to @Html.ActionLink("Login", "Login", "User") <p>

